/**
 * Styles for form
 */
.cntctfrm_contact_form * {
	text-align: left !important;
	line-height: normal !important;
}
.rtl .cntctfrm_contact_form * {
	text-align: right !important;
}
.cntctfrm_contact_form .cntctfrm_contact_submit {
	text-align: center !important;
}
.cntctfrm_contact_form p,
.widget .cntctfrm_contact_form p {
	margin: 0 !important;
}
.cntctfrm_contact_form .cptch_block label + br,
.cntctfrm_contact_form .cptch_block span + br,
.cntctfrm_contact_form .cptchpr_block label + br,
.cntctfrm_contact_form .cptchpr_block span + br {
	display: block !important;
}
.cntctfrm_contact_form .cptch_block br,
.cntctfrm_contact_form .cptchpr_block br {
	display: none;
}
.cntctfrm_input_captcha .cptch_block ~ .gglcptch,
.cntctfrm_input_captcha .cptchpls_block ~ .gglcptch,
.cntctfrm_input_captcha .cptchpr_block ~ .gglcptch,
.cntctfrm_input_captcha .cptch_block ~ .gglcptchpr,
.cntctfrm_input_captcha .cptchpls_block ~ .gglcptchpr,
.cntctfrm_input_captcha .cptchpr_block ~ .gglcptchpr,
.cntctfrm_input_captcha .cptch_wrap ~ .gglcptch,
.cntctfrm_input_captcha .cptchpls_wrap ~ .gglcptch,
.cntctfrm_input_captcha .cptchpr_wrap ~ .gglcptch,
.cntctfrm_input_captcha .cptch_wrap ~ .gglcptchpr,
.cntctfrm_input_captcha .cptchpls_wrap ~ .gglcptchpr,
.cntctfrm_input_captcha .cptchpr_wrap ~ .gglcptchpr {
    padding: 20px 0 0;
}
.cntctfrm_contact_form .gglcptch #recaptcha_widget_div {
	width: 320px !important;
}
.cntctfrm_label,
.cntctfrm_input,
.cntctfrm_select,
.cntctfrm_checkbox {
	box-sizing: border-box;
/*	max-width: 320px;*/
	width: 100%;
}
.cntctfrm_input.cntctfrm_input_submit {
	max-width: 100%;
}
.cntctfrm_contact_form input[type="text"],
.cntctfrm_contact_form input[type="file"],
.cntctfrm_contact_form select,
.cntctfrm_contact_form textarea,
.widget .cntctfrm_contact_form input[type="text"],
.widget .cntctfrm_contact_form input[type="file"],
.widget .cntctfrm_contact_form select,
.widget .cntctfrm_contact_form textarea {
	width: 100%;
	margin: 0 !important;
	box-sizing: border-box;
}
.cntctfrm_contact_form.cntctfrm_width_default input[type="text"],
.cntctfrm_contact_form.cntctfrm_width_default input[type="file"],
.cntctfrm_contact_form.cntctfrm_width_default select,
.cntctfrm_contact_form.cntctfrm_width_default textarea,
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type="text"],
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type="file"],
.widget .cntctfrm_contact_form.cntctfrm_width_default select,
.widget .cntctfrm_contact_form.cntctfrm_width_default textarea {
	max-width: 320px;
}
.cntctfrm_contact_form input[type="checkbox"],
.cntctfrm_contact_form input[type="radio"]
.cntctfrm_contact_form input[type="submit"],
.widget .cntctfrm_contact_form input[type="checkbox"],
.widget .cntctfrm_contact_form input[type="radio"],
.widget .cntctfrm_contact_form input[type="submit"] {
	margin: 0;
}
.cntctfrm_contact_attachment_extensions {
	font-size: 10px !important;
}
.cntctfrm_contact_form input.cntctfrm_contact_submit {
	cursor: pointer !important;
	text-align: center !important;
	margin-bottom: 10px !important;
}
.cntctfrm_label:first-child {
	padding: 0;
}
.cntctfrm_label,
.cntctfrm_checkbox {
	padding: 5px 0 0;
}
.cntctfrm_input,
.cntctfrm_select,
.cntctfrm_checkbox {
	position: relative;
}
.cntctfrm_error_text {
	margin: 5px 0;
	color: red;
	text-align: left;
}
#cntctfrm_contact_attachment {
	margin-bottom: 0;
}
.cntctfrm_contact_form div {
	clear: both;
}
.cntctfrm_one_column.cntctfrm_width_default {
	max-width: 320px;
	width: 100%;
}
.cntctfrm_one_column.cntctfrm_width_custom {
	max-width: 100%;
	width: 100%;
}
.cntctfrm_two_columns.cntctfrm_width_default {
	max-width: 650px;
	width: 100%;
}
.cntctfrm_two_columns.cntctfrm_width_custom .cntctfrm_column {
	max-width: 49%;
}
.cntctfrm_one_column.cntctfrm_width_custom .cntctfrm_column {
	max-width: 100%;
}
.cntctfrm_column {
	position: relative;
	min-height: 1px;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: none !important;
}
.cntctfrm_ltr .cntctfrm_column {
	float: left;
}
.cntctfrm_rtl .cntctfrm_column {
	float: right;
}
.cntctfrm_ltr.cntctfrm_two_columns.cntctfrm_width_default #cntctfrm_first_column,
.cntctfrm_ltr.cntctfrm_two_columns.cntctfrm_width_default #cntctfrm_submit_first_column {
	margin: 0 10px 0 0;
}
.cntctfrm_two_columns.cntctfrm_rtl.cntctfrm_width_default #cntctfrm_first_column,
.cntctfrm_two_columns.cntctfrm_rtl.cntctfrm_width_default #cntctfrm_submit_first_column {
	margin: 0 0 0 10px;
}
.cntctfrm_ltr.cntctfrm_two_columns.cntctfrm_width_custom #cntctfrm_first_column,
.cntctfrm_ltr.cntctfrm_two_columns.cntctfrm_width_custom #cntctfrm_submit_first_column {
	margin: 0 2% 0 0;
}
.cntctfrm_rtl.cntctfrm_two_columns.cntctfrm_width_custom #cntctfrm_first_column,
.cntctfrm_rtl.cntctfrm_two_columns.cntctfrm_width_custom #cntctfrm_submit_first_column {
	margin: 0 0 0 10px;
}
.cntctfrm_field_wrap {
	margin: 0 0 5px;
}
.cntctfrm_contact_form label,
.cntctfrm_contact_form .cntctfrm_contact_submit {
	display: inline;
}
.cntctfrm_contact_form .cptch_input {
	max-width: 100% !important;
}