/*
* styles for settings page
*/
.cntctfrm_clear {
	clear: both;
}
#cntctfrm_nav_container {
	border-bottom: 1px solid #ccc;
}
#cntctfrm_nav {
	float:left;
	border: none !important;
}
#cntctfrm_contact_attachment {
	margin-bottom:0;
}
.cntctfrm_change_label_block input,
.cntctfrm_action_after_send_block input {
	margin: 1px 0;
}
.cntctfrm_change_label_block input[type="text"],
.cntctfrm_action_after_send_block input[type="text"] {
	width: 300px;
}
.cntctfrm_label_language_tab {
	position: relative;
	float: left;
	padding: 2px 5px;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #DFDFDF;
	background: url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
	cursor: pointer;
	margin-right: 3px;
}
.rtl .cntctfrm_label_language_tab {
	float: right;
}
.cntctfrm_language_tab {
	border: 1px solid #DFDFDF;
}
.cntctfrm_active {
	color: #21759B;
}
.cntctfrm_delete {
	color: red;
	display: inline-block;
	margin-left: 7px;
	position: relative;
}
.cntctfrm_change_tab {
	cursor: pointer;
	position: absolute;
	left: 0;
	width: calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -moz--calc(100% - 20px);
	height: 18px;
	opacity: 0;
}
.cntctfrm_del_button_wrap {
	position: absolute;
}
.cntctfrm_delete_button {
	cursor: pointer;
	height: 18px;
	position: relative;
	right: 10px;
	opacity: 0;
}
.cntctfrm_language_tab_block_mini {
	background: url("../images/toggle-arrow.png") no-repeat scroll left -5px transparent;
	border-bottom: 1px solid #DFDFDF;
	line-height: 18px;
	padding-left: 22px;
	color: #888888;
	font-size: 10px;
	margin-top: 7px;
	cursor: pointer;
}
.cntctfrm_language_tab_block_mini.cntctfrm_language_tab_block_mini_open {
	background-position: left -28px;
}
.rtl .cntctfrm_language_tab_block_mini {
	padding-left: 0;
	padding-right: 22px;
	background-position: right -51px;
}
.rtl .cntctfrm_language_tab_block_mini.cntctfrm_language_tab_block_mini_open {
	background-position: right -27px;
}
.cntctfrm_language_tab_block_mini:hover {
	opacity: 0.7;
}
.cntctfrm_language_tab_block {
	padding: 5px 10px 5px 5px;
}
#cntctfrm_left_table {
	margin-right: 10px;
}
.cntctfrm_appearance_ltr #cntctfrm_left_table,
.cntctfrm_appearance_rtl #cntctfrm_right_table {
	max-width: 700px;
	width: 100%;
}
.cntctfrm_appearance_ltr #cntctfrm_right_table,
.cntctfrm_appearance_rtl #cntctfrm_left_table {
	max-width: 700px;
	width: 100%;
}
.cntctfrm_appearance_ltr #cntctfrm_left_table,
.cntctfrm_appearance_ltr #cntctfrm_right_table {
	float: left;
}
.cntctfrm_appearance_rtl #cntctfrm_left_table,
.cntctfrm_appearance_rtl #cntctfrm_right_table {
	float: right;
}
.cntctfrm_contact_form div {
	clear: both;
}
#cntctfrm_shortcode {
	margin: 20px 0;
}
#cntctfrm_shortcode_code {
	display: inline-block;
	height: 20px;
	margin: 10px 0 0;
	background: #EAEAEA;
	border: 1px solid #DCDCDC;
	padding: 10px;
}
div.cntctfrm_info {
	padding-left: 23px;
}
/* cntctfrm_settings_table */
.cntctfrm_settings_table th,
.cntctfrm_settings_table td {
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	min-height: 25px;
	padding: 2px 10px;
	word-wrap: break-word;
}
.cntctfrm_settings_table td.bws_pro_version_tooltip {
	text-align: center;
}
.cntctfrm_settings_table input[type="text"],
.cntctfrm_settings_table input[type="file"] {
	width: 100%;
}
.cntctfrm_mobile_title {
	display: none;
}
#cntctfrm_table_from_name td,
#cntctfrm_table_from_email td {
	padding: 5px 0 0;
	display: table-cell !important;
}
#cntctfrm_table_from_name td.cntctfrm_radio_from_name,
#cntctfrm_table_from_email td.cntctfrm_radio_from_email {
	text-align: center;
	width: 25px;
}
.wp-picker-container {
	margin-top: 5px;
}
#cntctfrm_gdpr_link_options {
	border: 1px solid #e0e0e0;
	max-width: 410px;
	text-align: center;
	margin-bottom: 8px;
	padding-top: 3px;
}
@media screen and (max-width: 1350px) {
	#cntctfrm_additional_settings_tab .form-table td {
		display: inline-block;
	}
	#cntctfrm_gdpr_link_options {
		padding: 5px;
		display: table-caption;
		text-align: left;
	}
}
@media screen and (max-width: 600px) {
	#cntctfrm_nav_container {
		border: none;
	}
	.cntctfrm_settings_table {
		width: 100%;
	}
	.cntctfrm_settings_table th,
	.cntctfrm_settings_table td {
		display: block;
	}
	.cntctfrm_settings_table thead,
	.cntctfrm_settings_table td:empty {
		display: none;
	}
	.cntctfrm_settings_table tr td:first-child {
		font-weight: bold;
		font-size: 14px;
	}
	.cntctfrm_mobile_title {
		display: inline;
	}
}
/* appearance settings */
.cntctfrm_label_block {
	display: inline-block;
	max-width: 350px;
	padding-top: 5px;
}
.cntctfrm_style_block input {
	vertical-align: top;
}
/* appearance settings preview contact form */
#gglcptch_preview {
	margin: 10px 0 0;
}
#cntctfrm_contact_form {
	margin: 15px 0 0;
	padding: 5px;
}
.cntctfrm_width_default.cntctfrm_one_column {
	max-width: 330px !important;
}
.cntctfrm_width_default.cntctfrm_two_columns {
	max-width: 700px !important;
}
.cntctfrm_width_default .cntctfrm_column {
	max-width: 330px !important;
}
#cntctfrm_first_column,
#cntctfrm_second_column {
	min-height: 50px !important;
	border: 1px dashed transparent;
}
.cntctfrm_width_custom #cntctfrm_first_column {
	margin: 0 1% 0 0 !important;
}
#cntctfrm_first_column li,
#cntctfrm_second_column li {
	display: block;
	padding: 5px;
	margin: 0;
	float: none;
}
.cntctfrm_field_wrap:hover {
	cursor: move;
	background: #e9e9e9;
}
.cntctfrm_field_wrap label {
	cursor: move;
}
.cntctfrm_column_placeholder {
	border: 1px dashed #999 !important;
}
.cntctfrm_input.cntctfrm_input_captcha {
	margin: 0;
}
.cntctfrm_checkbox {
	padding: 0 !important;
}
.cntctfrm_input_submit {
	max-width: 100% !important;
	padding: 0 5px;
}
.ui-sortable-helper {
	background: #f1f1f1;
	border: 1px dotted #888;
}
.ui-sortable-placeholder {
	margin: 5px !important;
	padding: 0 !important;
	background: #e4e4e4;
	visibility: visible !important;
}
.cntctfrm_drag_wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
}
.cntctfrm_how_to_use {
	float: right;
}
.rtl .cntctfrm_how_to_use {
	float: left;
}
.cntctfrm_auto_response_message {
	position: relative;
	margin-left: 20px;
	z-index: -1;
}
@media screen and (max-width: 785px) {
	.cntctfrm_auto_response_message {
		margin-left: 0px;
	}
}
@media only screen and ( max-width: 782px ) {
	.cntctfrm_how_to_use {
		float: none;
	}
	.cntctfrm_how_to_use > h2 {
		clear: both;
	}
	#cntctfrm_table_from_name,
	#cntctfrm_table_from_email,
	.cntctfrm_td_name,
	.cntctfrm_td_email {
		width: 100%;
	}
	.cntctfrm_info {
		display: inline-block;
	}
}
@media screen and (max-width: 814px) {
	.cntctfrm_settings_table thead th{
		max-width: 50px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
.cntctfrm_pro_version_table_block.bws_pro_version_tooltip {
	border-left: none;
	border-top: none;
	border-color: #DFDFDF;
}
.nav-tab {
	margin-left: 0 ! important;
	margin-right: 5px ! important;
}
.wp-admin select {
	vertical-align: top;
}