/*
* styles for settings page
*/

.cntctfrm_info {
	color: rgb(136, 136, 136);
	font-size: 10px;
	clear: both;
}
#cntctfrm_contact_attachment {
	margin-bottom:0;
}
.cntctfrm_change_label_block input,
.cntctfrm_action_after_send_block input {
	margin: 1px 0;
}
.cntctfrm_change_label_block input[type="text"],
.cntctfrm_action_after_send_block input[type="text"] {
	width: 300px;
}
.cntctfrm_label_language_tab {
	float: left;
	padding: 2px 5px;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #DFDFDF;
	background: url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
	cursor: pointer;
	margin-right: 3px;
}
.cntctfrm_language_tab {
	border: 1px solid #DFDFDF;
}
.cntctfrm_active {
	color: #21759B;
}
.cntctfrm_delete {
	color: red;
	display: inline-block;
	margin-left: 7px;
	position: relative;
}
.cntctfrm_language_tab_block_mini {
	background: url("../images/toggle-arrow.png") no-repeat scroll 1px -26px transparent;
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	line-height: 18px;
	padding-left: 22px;
	color: #888888;
	font-size: 10px;
	margin-top: 7px;
}
.cntctfrm_language_tab_block_mini:hover {
	opacity: 0.7;
}
.cntctfrm_language_tab_block {
	padding: 5px 10px 5px 5px;
}
#cntctfrmpr_left_table {
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}
#cntctfrmpr_right_table {
	max-width: 500px;
	width: 100%;
	display: inline-block;
}
.cntctfrm_contact_form div {
	clear: both;
}
#cntctfrmpr_shortcode {
	width: 330px;
	margin-top: 30px;
	max-width: 330px;
}
#cntctfrmpr_shortcode_code {
	height: 20px;
	background: #EAEAEA;
	border: 1px solid #DCDCDC;
	padding: 10px;
}
/* cntctfrm_settings_table */
.cntctfrm_settings_table th,
.cntctfrm_settings_table td {
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	height: 25px;
	padding: 2px 10px;
	text-align: left;
}
.cntctfrm_settings_table td.bws_pro_version_tooltip {
	text-align: center;
}
.cntctfrm_shortcode {
	font-size: 14px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
	font-family: Consolas,Monaco,monospace;
}
td.cntctfrm_td_top_align {
	vertical-align: top;
}
/*
* styles help tooltips
*/
.cntctfrm_help_box {
    background-image: url("../images/tooltip_icons.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 28px;
    position: relative;
    margin: 3px 5px;
    width: 28px;
    display: inline-block;
    vertical-align: middle;
}
.cntctfrm_hidden_help_text {
	z-index: 5;
	box-sizing: border-box;
    background: #F4F4F4;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    left: 40px;
    padding: 5px 10px;
    position: absolute;
    width: auto;
    min-width: 125px;
    line-height: 1.5;
    display: none;
}
.cntctfrm_hidden_help_text:before {
    content: url("../images/help.png");
    left: -10px;
    position: absolute;
    top: 7px;
    direction: ltr;
}
.cntctfrm_help_box:hover .cntctfrm_hidden_help_text {
    display: block;
}
/* appearance settings */
.cntctfrm_label_block {
	display: inline-block;
	max-width: 350px;
	padding-top: 5px;
}
.cntctfrm_style_block input {
	vertical-align: top;
}